@media (max-width: 768px) {
  .table-responsive > .table {
    background-color: transparent;
  }
}

.container {
  background-color: #fff;
}

.navbar-default {
  background-color: #428bca;
}

.logo-header h1 {
  font-family: "Lobster", cursive;
  color: #e8d069;
}

.page-header h2 {
  font-family: "Lobster", cursive;
  color: #e8d069;
}

.navbar-default .navbar-nav > li > a {
  color: #e8d069;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e8d069;
  background-color: #032370;
}

.panel-primary > .panel-heading {
  color: #e8d069;
}

.panel-title {
  font-family: "Lobster", cursive;
}

.panel-title a h4 {
  font-family: "Lobster", cursive;
}

.pdsa-summary-block-primary {
  background-color: #428bca;
  color: #fff;
}

.pdsa-summary-block-primary .summary-footer {
  background-color: #428bca;
}

.pdsa-summary-block-primary .summary-footer a {
  color: white;
}

.pdsa-summary-block-primary .summary-body .summary-line1 a {
  color: #e8d069;
}

.pdsa-summary-block-success {
  background-color: #3c763d;
  color: #fff;
}

.pdsa-summary-block-success .summary-footer {
  background-color: green;
}

.pdsa-summary-block-success .summary-footer a {
  color: white;
}

.pdsa-summary-block-info {
  background-color: #31708f;
  color: #fff;
}

.pdsa-summary-block-info .summary-footer {
  background-color: teal;
}

.pdsa-summary-block-info .summary-footer a {
  color: white;
}

.pdsa-summary-block-danger {
  background-color: #a94442;
  color: #fff;
}

.pdsa-summary-block-danger .summary-footer {
  background-color: red;
}

.pdsa-summary-block-danger .summary-footer a {
  color: white;
}

.pdsa-summary-block {
  position: relative;
  width: 100%;
  margin: 0.4em;
  padding: 1em;
  min-height: 6em;
}

.pdsa-summary-block .summary-background i,
.pdsa-summary-block .summary-background div {
  margin-left: -0.2em;
  margin-top: 0.1em;
  font-size: 3em;
  opacity: 0.2;
}

.pdsa-summary-block .summary-body {
  position: absolute;
  top: 1.3em;
  right: 0.8em;
}

.pdsa-summary-block .summary-body .summary-line1 {
  text-align: right;
  font-size: medium;
}

.pdsa-summary-block .summary-body .summary-line1 a {
  font-family: "Lobster", cursive;
  font-size: 18px;
}

.pdsa-summary-block .summary-body .summary-line2 {
  text-align: right;
  font-size: medium;
}

.pdsa-summary-block .summary-footer {
  position: absolute;
  bottom: 0em;
  right: 0em;
  width: 100%;
  padding: 0.4em;
  font-weight: 300;
  text-transform: uppercase;
  font-size: small;
  opacity: 0.6;
}

.pdsa-summary-block .summary-footer a {
  text-decoration: none;
}

.pdsa-summary-block .summary-footer:hover {
  opacity: 1;
  cursor: pointer;
}
/*body{
  margin-top:30px;
}*/

/*.container{
  background-color:#eee;
}*/

/*@import url(http://fonts.googleapis.com/css?family=Vollkorn:700italic);

* {
font-family: sans-serif;
}

body {
background: #ddd;
}

#page {
border: 1px solid #666;
border-radius: 5px;
background: #fff;
margin: 0 auto;
padding: 12px;
width: 989px;
}

#menu {
float: right;
}

#menu ul {
  list-style: none;
}

  #menu ul li {
    display: inline;
    margin: 0 4px;
  }

form > * {
display: block;
}

#logo a {
font-size: 60px;
font-family: 'Vollkorn', serif;
text-decoration: none;
color: #c14d00;
font-style: italic;
}*/
